.container{
    padding: 0 10px;
}
html,body{
    height: 100%;
}
body{
    font: 400 14px/18px 'Open Sans', sans-serif;
    color: black;
    touch-action: pan-y;
}
p{
    font: 400 14px/18px "Open Sans", sans-serif;
}
h2{
    font-size: 25px;
    line-height: 30px;
}
a,
.style-link{
    cursor: pointer;
    color: $baseColor;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
app-root,
app-home{
    display: block;
    height: 100%;
}
app-message-container{
    height: calc(100% - 80px - 60px);
}
app-chat{
    height: 100%;
    display: flex;
    flex-direction: column;
}